# =========================
# 🌐 SERVER
# =========================
PORT=3000
NODE_ENV=development

# =========================
# 🔐 AUTH
# =========================
JWT_SECRET=your_super_secret_here

# =========================
# 🌍 FRONTEND
# =========================
FRONTEND_ORIGIN=http://localhost:5173

# =========================
# 🗄️ DATABASE
# =========================

# 🧪 LOCAL (Docker ou máquina local)
MONGO_URI=mongodb://localhost:27017/db_name

# 🚀 PRODUÇÃO (MongoDB Atlas)
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/db_name